{% extends '_base.html' %}
{% block content %}

<h2>Welcome to Flask Feedback</h2>
<h3>Please register by providing the information below.</h3>
<h4>Already Registered? Use our <a class="main-link-color" href="/login">login page</a>.</h4>
<form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden'%}
    <div>
        {{field.label(class_="lbl")}}
        {% for err in field.errors %}
        <span class="error-fld">{{err}}</span>
        {% endfor %}
        {{field(class_="inp")}}
    </div>
    {% endfor %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="flash-list"><span class="{{ category }}">{{ message|safe }}</span></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <button class="btn btn-add">Register</button>
</form>

{% endblock %}